/*---------------------------------------- 搜索框 ----------------------------------------------*/

.searchbox {
    position: absolute;
    left: 1.31rem;
    top: 10.556%;
    z-index: 400;
    font-size: 0;
    height: 46px;
    padding-top: 54px;
}

span.searchbtn {
    font-size: 0.18rem;
    cursor: pointer;
    line-height: 28px;
}
.searchinput{
    width: 2.6rem;
    font-size: 0.16rem;
}


/*---------------------------------------- 时间轴 ----------------------------------------------*/
.timeaxis2{
    left: 5.71rem;
    top:15%;
    width: 12.12rem;
}
/*---------------------------------------- element公用 ----------------------------------------------*/
.root .element-title-div{
    height: 10.7%;
}
.root .element-title-text{
    width: calc(100% - 12px);
}
.root .element-content{
    width: 100%;
    height: calc(100% - 0.31rem);
    position: relative;
}
.unittitle{
    position: absolute;
    left: 5%;
    bottom: 0;
    font-size: 12px;
    color: #00c6ff;
    height: 40px;
    line-height: 40px;
}
/*---------------------------------------- 舆情头条 ----------------------------------------------*/
.chart4div{
    width: 3.9rem;
    height: 32%;
    left: 1.3rem;
    top: 27.67%;
}
.chart4{
    width: 3.36rem;
    margin: 0 auto;
    height:100%
}
.chart4news{
    position: absolute;
    left: 0.27rem;
    width: 3.36rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    color: #84d5ff;
    height: 14px;
    line-height: 1;
    font-size: 14px;
    cursor: pointer;
}
.chart4news:hover{
    color: #fffc00;
}
.chart4news.anew0{
    top: 7.7%
}
.chart4news.anew1{
    top: 25.3%
}
.chart4news.anew2{
    top: 43.1%;
}
.chart4news.anew3{
    top: 60.5%;
}
.chart4news.anew4{
    top: 78.1%;
}
/*---------------------------------------- 事件省份排名 ----------------------------------------------*/

.chart5div{
    width: 3.9rem;
    height: 32%;
    left: 1.3rem;
    top: 63.31%;
}
.chart5{
    width: 100%;
    height:100%
}

/*---------------------------------------- 舆情走势 ----------------------------------------------*/

.chart6div{
    width: 8rem;
    left: 5.59rem;
    top: 27.67%;
    height: 32%;
}
.chart6{
    width: 100%;
    margin: 0 auto;
    height:100%
}
/*---------------------------------------- 来源媒体分布 ----------------------------------------------*/
.chart7div{
    width: 8rem;
    height: 32%;
    left: 5.59rem;
    top: 63.31%;
}
.chart7{
    width: 100%;
    margin: 0 auto;
    height:100%
}
/*---------------------------------------- 头条正中负面 ----------------------------------------------*/

.chart8div{
    width: 3.9rem;
    height: 32%;
    left: 14rem;
    top: 27.67%;
}
.chart8{
    width: 100%;
    margin: 0 auto;
    height:100%;
}
.pietip{
    width: 2rem;
    height: 0.44rem;
    position: absolute;
    left: 50%;
    top:6%;
    margin-left: -1rem;
    text-align: center;
    cursor: pointer;
}
.pietip:hover .pienum{
    color: #fff;
}
.pietip .pienum{
    display: inline-block;
    vertical-align: middle;
    font-size: 0.24rem;
    line-height: 1;
    color: #00c6ff;
}
.pietip .piecn{
    margin-right: 0.1rem;
    display: inline-block;
    vertical-align: middle;
    font-size: 0.14rem;
    line-height: 0.2rem;
    color: #3fc0ff;
}
/*---------------------------------------- 头条正中负面 ----------------------------------------------*/
.chart9div{
    width: 3.9rem;
    height: 32%;
    left: 14rem;
    top: 63.31%;
}
.chart9{
    width: 100%;
    margin: 0 auto;
    height:100%;
}









/*---------------------------------------- micro 页面 ----------------------------------------------*/

.mediabox{
    position: absolute;
    left: 1.6rem;
    top: 16.2%;
    width: 3.2rem;
    height: 0.36rem;
}
.mediabox span{
    text-align: center;
    font-size: 0.16rem;
    width: 50%;
    height: 0.34rem;
    border: 1px solid #a0a0a0;
    line-height: 0.34rem;
    color: #a0a0a0;
    background-color: rgba(160,160,160,0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}
.wenxinMedia{
    margin-left: -1px;
}
.mediabox span.active{
    z-index: 2;
    border-color: #3fc0ff;
    color: #fff;
    background-color: rgba(0,166,245,0.2);
}


/* comment */
#micro7{
    height: calc(100% - 0.3rem);
    overflow: hidden;
}
.commentUl{
    position: relative;
    padding: 0 0.36rem;
}
.commentUl li{
    height: 1.28rem;
    padding-top: 0.18rem;
    border-bottom: 1px solid #034462; 
}
.commentUl .p_title{
    color: #fff;
    font-weight: normal;
    font-size: 0.14rem;
   line-height: 0.20rem;
}
.commentUl .p_time{
    color: #1389dc;
    font-size: 0.12rem;
    line-height: 0.14rem;
    padding-top: 0.05rem;
    padding-bottom: 0.1rem;
}
.commentUl .p_content{
    color: #5fcbff;
    font-size: 0.14rem;
    line-height: 0.20rem;
}